body {
    margin: 0;
    background-color: #1c100b;
}

#pixel-drip .pixel {
    transition: all .1s ease-in-out;
    position: absolute;
    margin: 0;
    width: 16px;
    height: 16px;
}

#pixel-drip .pixel:hover {
    transform: scale(1.25);
}