body {
    margin: 0;
    /* background: rgb(22,22,22); */
    background: linear-gradient(128deg, rgba(45,45,45,1) 0%, rgba(22,22,22,1) 100%);
    background-attachment:fixed;
    height:100%;
}

#pixel-drip .pixel {
    transition: all .1s;
    /* transition: left 1s; */
    position: absolute;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
}

#pixel-drip .pixel:hover {
    /* z-index: 3; */
    transform: scale(1.5);
}

#pixel-drip {
    position: absolute;
    left: -224;
    top: -224;
}

.content {
    position: relative;
    z-index: 500;
}

.box {
    position: relative;
    z-index: 500;
    background-color:  rgba(22,22,22,1);
}

.box h1 {
    color: #FFF;
}