body {
    margin: 0;
    background-color: #1c100b;
}

#pixel-drip .pixel {
    transition: all .1s;
    position: absolute;
    margin: 0;
}

#pixel-drip .pixel:hover {
    transform: scale(2);
}

#pixel-drip {
    position: absolute;
    left: -48px;
    top: -48px;
}